# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
